/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    /*    font-family: 'Poppins', sans-serif;*/
    font-family: Roboto, sans-serif;
    font-size:0.85rem;
    background: #fafafa;
    /*    width:100%;*/
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    /*    padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
            margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    color: #fff;
    /*    transition: all 0.3s;
        display: block;*/
    overflow: auto;
    position: fixed;
    z-index: 1;
    width: 250px;
    height: 100%;
    /*background-color: #111;*/
    background-color:#000; 
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    /*    padding:25px 2px 25px;*/
}


#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    /*    border-bottom: 1px solid #47748b;*/
    margin-top:20%;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    background-color:#10707f;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #97d4e6;
}

#sidebar ul li.active>a{
    color: #EDEFF2;
    background:#17a2b8;
}

a[data-toggle="collapse"] {
    position: relative;
}

/*.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}*/

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background:#545b62;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    /*    width: 87%;*/
    /*    padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    /*margin-left:254px;*/

    /*        -webkit-box-shadow: 0 10px 6px 2px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px 2px #777;
        padding:10px;
        height:100vh;*/

}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .nev-bar-position.sitebar-nevbar-posision {
        margin-left: 250px;
    }
    #content{
        margin-left: 0%;
        width:100%;
    }
}


.navbar-content{
    /*    width:100%;*/
}

.nev-bar-position{

    hight:1%;
    top: 0;
    z-index: 1;
    border: 1px solid #3685b3;
    /*    height:75px;*/
    -webkit-box-shadow: 0 2px 6px 1px #777;
    -moz-box-shadow: 0 2px 6px 1px #777;
    box-shadow: 0 2px 6px 1px #777;

}
.main-page-content{
    margin-top: 10%;
    margin-right:2%;
    margin-left:2%;
}
.main-content{
padding:25px;
}
.main-content-sub{
    width:100%;
    /*    margin-top:35px;*/
}
.main-content-sub table{
    /*    margin-top:2%;  */
}

.content-text{
    margin-top: 15%;  
    background-color:#e3e3e3;
    width:50%;
}
.tag-page-content{
    margin-left:2%;  
}
.tag-content{
    margin-top: 25%;
}
.container{
    max-width:100%;
}
.side-bar{
    /*    position: fixed;*/
}
.bg-nav {
    background-color: #17a2b8!important;
    /*    height:75px;*/
}
.page-url-block{
    margin-top: 1%;
    text-align: center;
    padding:2px;
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    /*    font: italic bold 12px/30px Georgia, serif;*/
    /*    text-shadow: 1px 1px black;*/
    /*    background-color: white;*/
    border-radius: 4px;
    /*    -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;*/
}
.sub-content{
    margin-top: 2%;
    margin: 0.5em
}
.custom-script-loader-main{
    margin: 0.3em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
    left: 5%;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    right: 0;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 18px;
}

.slider.round:before {
    border-radius: 50%;
}
.main-dashboard{
    width:50%;
    margin-left: 25%;
    margin-top: 5%;
}
.responce-msg{
    margin-top: 5%;
    margin-left: 25%;
    width:50%;
}
.td-error-404{
    color:red;
}
.nav-dashboard{
    margin-right: 20%; 
}
.widget-top{
    margin-top:10%;
}
.page-type-widget{
    background-color:#343a40;
    color:white;

}
.page-type-widget h1{
    color:#007bff;
    margin-left: 25%;
}
.nav-search-bar{
    /*    margin-left: 50%;*/

}
.table-style{
    width:100%!important;
    /*    border: 2px solid black*/
}



#content.activeSideBar{
    width:100%;
    margin-left:0%;
}

* {
    box-sizing: border-box;
}

/*body {
        height: 100%;
    font-family: Helvetica, sans-serif;
}*/

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container-t {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container-t::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left-t {
    left: 0;
}

/* Place the container to the right */
.right-t {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-t::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-t::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-t::after {
    left: -16px;
}

/* The actual content */
.content-t {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline-t::after {
        left: 31px;
    }

    /* Full-width containers */
    .container-t {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container-t::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left-t::after, .right-t::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right-t {
        left: 0%;
    }
}

.time-line-content{
    background-color: #474e5d;
}

.count-section h1{
    text-align: center;
    color:#007bff;

}
.count-section{
    text-align: center;
    background-color:#17a2b8;
    position: static;
    margin-top:3%;
}
.script-drop-bar{
    width:25%;
    position:static;
}
.clear-btn{

}
.active-timeline{
    /*    background-color:#f9d6d5;*/
    background-color:#80bdff;
}
.timeline-header{
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 1;
}

/*#content.activeSideBar{
    width:96%;
}*/

#content-timeline {
    width: 88%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content-timeline.activeSideBarTimeline{
    width:100%;
}

.nav-dashboard.active-nav-dashboard{
    margin-right: 10%; 
}
.diagram{
    margin-top:2%;
}
.diagram-first{
    margin-top:2%;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    /*    width: 36px;
        height: 36px;*/
    width: 90px;
    height: 10px;
}
.lds-facebook div {
    display: inline-block;
    /*    margin-left:20%;*/
    position: absolute;
    /*    left: 6px;*/
    width: 13px;
    background: #D8D9D3;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}

.widget{
    /*    background-color:#E4E4E4;*/
    background-color:white;
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    padding:5px;
    /*    -webkit-box-shadow: 0 2px 3px 1px #777;
        -moz-box-shadow: 0 2px 3px 1px #777;
        box-shadow: 0 2px 3px 1px #777; */
}

.widget-loader{
    margin-left:40%;
    margin-top:130px;
}

.widget-loader-medium{
    margin-left:40%;
    margin-top:18%;
}
.widget-loader-small{
    margin-left:50%;
    margin-top:8%;  
}
.timeline-handle{
    margin-top:5%;
}

.widget-loader-mini{
    margin-left:25%;
    margin-top:10%;
}

.status-value{
    margin-left:0%;
    margin-top:100%;
    font-size: 150%;
}
.widget-200{
    background-color:#2ab27b;
}
.widget-301{
    background-color:#c7eed8;
}
.widget-404{
    background-color:#e95353;
}
.widget-504{
    background-color:#efa2a9;
}
.widget-new{
    background-color:#80bdff;
}
.widget-other{
    background-color:#fff8b3;
}

.page-dashboard-main-data{
    /*    font-size: 200%;*/
    text-align:center;
    /*    padding:10px;*/
}

pre {
    background: #f4f4f4;
    border: 3px solid #ddd;
    border-left: 23px solid gray;
    border-right: 23px solid gray;
    border-top: 23px solid gray;
    border-bottom: 23px solid gray;
    color: blue;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.nev-bar-position.sitebar-nevbar-posision{
    /*    width:98%;*/
}

.navbar-nav button{
    background-color:#008CBA;
    color: white;
}

.navbar-nav button i{
    color: white;
}

.btn-text{
    color: rgb(234, 18, 133);
}
.nav-button-link{
    margin-left:1%;
}
.btn-nav{
    background-color:#008CBA;
    color:white;
}

@media (max-width: 991px) {
    .nev-bar-position {
        /*        height: 170px;*/
    }
    .main-content-sub{
        /*        margin-top: 170px;   */
    }
    change-grid.col-sm-6{
        /*    width:200%;*/
    }
    .nav-button-link{
        margin-left:2%;
    }
}

.permission-alert{
    text-align:center;
    margin-top:20%;
}

.nav-image{
    /*    width:250px;*/
    height:200px;
    text-align:center;
    margin-top:2%;
    font-size:20px;
}
.hr-line{
    background-color:#47748b;
}
.add-user-modal{
    /*    margin-top:5%;*/
}
.login-body{
    margin-top:2%;
}

.login-title{
    color:#17a2b8;;
    font-size:24px;
}
.login-box{
    background-color:#BEE9EA;
}

.main-nav{
    background-color:#17a2b8;
}
.data-table-table{
    margin-top:10px;
}
.action-message{
    margin-top:1%;
    text-align:center;
    background-color:beige;
}

.re-success{
    color:green;   
}
.re-error{
    color:red;    
}
.error-msg-content{
    text-align:center;
    margin-top:20%;
    background-color: #FEEFB3;
}
.error404-body{
    width:60%;
    background-color: #FFD2D2;
    margin-top:10%;
}
.err404-messge{
    font-size:24px;
    color: #D8000C;

}
.icon-style{
    margin-left:10%;
}
.paren-url-model{
    margin-top:10%;
}
.parent-model-header{
    background-color:#17a2b8;
}
.url-content{
    margin-top:2%;
}
.url-content-second-header{
    margin-top:2%; 
}
.navbar-icon{
    margin-left:2%;
    padding:8px;
}
.scanner-form{
    margin-top:10%;
}
.scanner-card-header{
    background-color:#17a2b8!important;
    height:50%;
    /*    padding: 0.5rem;*/
}
.scanner-plugin-add{
    width:150%;
}
.indeterminate-progress-bar, .indeterminate-progress-bar > .progress-block {
    border-style: solid;
    /*    border-width: 1px;*/
    border-color: rgba(0, 0, 0, 0.25);

    border-radius: 1px;
}

.indeterminate-progress-bar {
    height: 1px;

    /*    margin: 0.5em;*/

    background-color: rgb(214, 214, 214);
    /*background-color:#888;*/

    /*    -webkit-box-shadow:		0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 	0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 	0px 0px 10px 0px rgba(50, 50, 50, 0.75);*/
}

.indeterminate-progress-bar > .progress-block {
    -webkit-animation-name: none;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: paused;

    animation-name: none;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

.indeterminate-progress-bar.active > .progress-block {
    -webkit-animation-name: bar-movement;
    -webkit-animation-play-state: running;

    animation-name: bar-movement;
    animation-play-state: running;
}

.indeterminate-progress-bar.paused > .progress-block {
    -webkit-animation-name: bar-movement;
    -webkit-animation-play-state: paused;

    animation-name: bar-movement;
    animation-play-state: paused;
}

@-webkit-keyframes bar-movement {
    from {left: -1px;}
    to {left: calc(75% + 1px);}
}

@keyframes bar-movement {
    from {left: -1px;}
    to {left: calc(75% + 1px);}
}

.progress-block {
    position: relative;

    top: -1px;
    left: -1px;

    width: 25%;
    height: 100%;

    /*    background: rgba(36, 14, 116, 0.43);*/
    background:#7386D5;
}

/*.content-title-header {
        height: 35px;

        margin: 0.5em;

    background-color: #84d57f;
    background-color:#888;

    -webkit-box-shadow:		0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 	0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 	0px 0px 1px 0px rgba(50, 50, 50, 0.75);
}*/
.more-model-content{
    width:150%;
    margin-top:85px;
    box-shadow: 1px 5px 24px 1px rgba(0,0,0,0.77);
}
.row-right{
    margin-left:0px;
    padding: .375rem .75rem;
}
/*.card-script-option{
    padding: .375rem .75rem; 
}*/

.web-form-controlle{
    border-radius: .35rem;
    /*  padding: .375rem .75rem;*/
    padding: .030rem .20rem;
    border: 1px solid #ced4da;
    color: #495057;
    width:90%;
    height:30px;
    margin-top:5px;
    /*  display: block;*/
}
.web-form-button-controlle{
    border-radius: .25rem;
    padding: .010rem .10rem;
    border: 1px solid #ced4da;
}

.email-list{
    width:60%;
    padding: .40rem;
}
.main-email-field-content{
    margin-left:10%;
    padding:10Px;
}
.user-email-input{
    margin-top:2%;
}
.modal-footer-scanner{
    height: 50px;
    background-color:#17a2b8!important;
}
.card-scanner{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e9ecef;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: .375rem .75rem; 
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    /*    margin-top:15px;*/
}
.card-scanner-header{
    background-color: #e9ecef;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: .375rem .75rem; 
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 1px #000000;  
}
.scanner-checkbox{
    padding:15px 2px;
}
.scanner-select{
    border-radius: .25rem;
    padding: .375rem .75rem;   
}
.main-level-content{
    margin-top:10px;
}
.main-search-bar{
    padding:2px 5px;
    border-radius: .50rem;
}
.main-search-bar-icon{
    padding:2px 5px;
    border-radius: .50rem;
}
.nav-icon{
    padding:2px 5px;
    width: 30px;
    margin-left:10px;
}
.link-class{
    border: 1px solid #17a2b8;
}
.text-block{
    padding:5px;
}
.main-button{
    background-color:#17a2b8;
/*background-color:#616161;*/
    color:white;
}
.add-user-modal-site{
    margin-top:8%;
}
.form-hadle{
    width:100%;
}
.table-btn{
    padding:2px;
}
.table-btn-gap{

}
.dataTables_scrollHeadInner{
    /*  width:100% !important;*/
}
.table-margin-top{
    margin-top:10px;
}
.row-for-button{
    display: flex;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
    background-color: #17a2b8;   
}

/*    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }*/







/*//lllllllllllllllllllllllllllllllllllllllllllllll*/



.inforide {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: white;
    border-radius: 8px;
    height: 100px;
}

.rideone img {
    width: 70%;
}

.ridetwo img {
    width: 60%;
}

.ridethree img {
    width: 50%;
}

.rideone {
    background-color: #6CC785;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}

.ridetwo {

    background-color: #D60E0E;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}

.ridethree {
    background-color: #4EBCE5;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}

.ridefour {
    background-color: #D6960E;
    padding-top: 25px;;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}
.ridefive {
    background-color: #16EDF0;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}
.ridesix {
    background-color: #9A75FE;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}

.fontsty {
    margin-right: -15px;
}

.fontsty h4{
    color: #6E6E6E;
    font-size: 15px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
}

.fontsty b{
    color: #6E6E6E;
    font-size: 25px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
    /*  margin-right: 30px;*/
}

.content-wrapper {
    min-height: calc(100vh - 56px);
    /*  padding-top: 4rem;*/
    /*    overflow-x: hidden;*/
    background: transparent;
}

.inforide-header{
    height:20px;
    padding: 3px;
}
.inforide-for-lagrge {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: white;
    border-radius: 8px;
    /*    height: 50px;*/
}
.ridefive-for-lagrge{
    background-color: #16EDF0;
    padding-top: 12px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    /*    height: 50px;*/
    margin-left: 15px;
}

.fontsty-for-large{
    margin-right: -15px;
    padding-top: 12px;
}
.nav-button-list{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}
.loader-area{
    margin-top:-25px;
}
.widget-width{
    height:300px;
}
@media (max-width: 1000px) {
    .widget-width{
        height:200px;
    }  
}
@media (max-width: 600px) {
    .widget-width{
        height:200px;
    }  
}
@media (max-width: 1114px) {
    .main-search-bar{
        width:50%;
    }  
}
.nav-icon-style{
    font-size:15px;
    color:white 
}


.main-page-search-bar{
    padding:2px 5px;
    border-radius: .50rem;
}
@media (max-width: 1532px) {
    .nav-icon-style{
        font-size:12px;
        color:white 
    }
    .main-page-search-bar{
        padding:1px 2px;
        border-radius: .50rem;
        width:80%;
    }
} 
.icon-right{
    justify-content: flex-end; 
}
@media (max-width: 1280px) {
    .icon-right{
        justify-content:none;
    }
} 
.page-item.active .page-link {
    z-index: 1;
    /*    color: #000;*/
    background-color: #000;
    /* border-color: #007bff; */
}



/*.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #6c757d;
}*/

.dataTables_wrapper .dataTables_processing {
    position: absolute!important;
    top:  0 !important;
    margin-top:50%!important;
    /*    left: 50%!important;*/
    width: 0%!important;
    height: 0px!important;
    margin-left: 0%!important;
    margin-top: 0px!important;
    padding-top: 20px!important;
    text-align: center!important;
    font-size: 1.2em!important;
    background-color: white!important;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)))!important;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)!important;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)!important;
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)!important;
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)!important;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)!important;
}
.run-status{
    color:#4AF18C;
}
.res-code-200{
    color:white;
   background-color:#616161;
   border-radius: .50rem;
}
.res-code-data-200{
/*    color:white;*/
/*    background-color:#616161;*/
    border-radius: .50rem;
}

.res-code-404{
   color:white;
   background-color:#616161;
   border-radius: .50rem;
}
.res-code-data-404{
/*    color:white;*/
/*    background-color:#17a2b8;  */
}
.res-code-301{
   color:white;
   background-color:#616161;
   border-radius: .50rem;
}
.res-code-data-301{
/*    color:white;*/
/*    background-color:#17a2b8;  */
}
.res-code-504{
   color:white;
   background-color:#616161;
   border-radius: .50rem;
}
.res-code-data-504{
/*    color:white;*/
/*    background-color:#17a2b8;  */
}
.res-code-not-check{
  color:white;
   background-color:#616161;
   border-radius: .50rem;
}
.res-code-data-not-check{
/*    color:white;*/
/*    background-color:#17a2b8;  */
}
.res-code-other{
   color:white;
   background-color:#616161;
   border-radius: .50rem;
}
.res-code-data-other{
/*    color:white;*/
/*    background-color:#17a2b8;  */
}
.summery-code-count{
/*    background-color:black;*/
    padding:4px;
}
.modal-header{
    padding: .5rem .5rem;    
}
.form-data-block{
    padding: 1rem 1rem;
}
.add-button-style{
  padding: 1rem 1rem;   
}
.head-button{
    padding: .1rem .5rem .1rem .5rem;  
}